.bodi{
    background-color: #f5f7fa;
    padding: 40px;
}

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;

    background-color: #fff;
    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 0%, 0.1);
}
.right-side{
width: 830px;
padding-top: 68px;
padding-right: 200px;
padding-left: 80px;
padding-bottom: 68px;
}

.left-side{
width: 370px;
background-color: #1e2939;
color: #fff;
}
<!--text info-->

.bio-title {
color:#2a2a2a;
line-height:2;
font-size:45px;
margin-bottom: 20px;
}

.bio-occupation {
color:#2a2a2a;
line-height:1.714;
font-size:14px;
margin-bottom: 27px;
}

.bio-about {
color:#595959;
line-height: 1.714;
font-size:14px;
}
<!--Projects-->

.projects-title{
font-size: 22px;
line-height: 1.091;
color: #2a2a2a;
margin-bottom: 14px;
}
.projects-link {
font-size: 14px;
line-height: 1.714;
color: #220fdc;
}
.projects-link:hover{
    color: #ff6b08;
}

<!--Work Experience-->

.jobs-title {
    color: #2a2a2a;
    font-size: 22px;
    line-height: 1.091;
    margin-bottom: 26px;
}
.jobs-occupation {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.jobs-time {
    color: #828282;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 18px;
}
.experience{
    margin-bottom: 28px;
}
.experience-item {
    color: #595959;
    font-size: 14px;
    line-height: 1.714;
    margin-bottom: 10px;
}
.accent{
    color: #ff6b08;
}
<!--Education-->
.education-title {
    color: #2a2a2a;
    font-size: 22px;
    line-height: 1.091;
    margin-bottom: 26px;
}
.education-degree {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.education-time {
    color: #828282;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 18px;
}
.accent {
    color: #ff6b08;
}
.bio,
.projects,
.jobs,
.education {
    margin-bottom: 60px;
}

<!--left-side-->

.photo{
    width: auto;
}
.contacts-title {
    color: #FFF;
    font-size: 22px;
    line-height: 1.091;
}
.contacts-item {
    color: #FFF;
    font-size: 14px;
    line-height: 1.714;
}
.contacts-link{
    color: #FFF;
    opacity: 0.6;
}
.contacts-link:hover{
    opacity: 1;
}

.skills-title {
    font-size: 22px;
    line-height: 1.091;
}

.skills-item {
    font-size: 14px;
    line-height: 1.714;
 
}
.skills-list {
    list-style: none;
    padding-left: 0;
}

.skills-item::before {
	content: '\2022';
    margin-right: 8px;
    color: #ff6b08;
    font-size: 18px;

}

.contacts,
.skills {
margin-bottom: 10px;
padding-left: 40px;
}
.contacts, .skills {
    padding-left: 40px;
}
.socials-item {
	display: inline-flex;
	align-items: center;
	list-style: none;
	padding: auto;
	margin-left: 50px;
}
.icon-socials {
	display: block;
	width: 50px;
	height: 50px;
	fill: #FFF;
}

.icon-items {
	display: block;
	margin-right: 20px;
    border-radius: 100px;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff;
	color: #afb1b8;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-socials:hover{
    fill: #ff6b08;
}
	







